{% extends 'blog/base.html' %}

{% load static %}
{% block title %} About {% endblock title %}

{% block main %}

<div class="col-sm-10 offset-1">
    <h3 class="text-white my-5">About page</h3>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium excepturi numquam perspiciatis maxime aut perferendis odio architecto a consectetur minima aperiam doloremque, eligendi ut ratione reprehenderit assumenda consequuntur nisi quas officiis neque vel totam enim laboriosam. Laudantium modi pariatur adipisci.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad laboriosam magni nostrum saepe vero omnis cupiditate minima officiis corrupti non autem temporibus itaque delectus alias quia, reiciendis culpa repudiandae harum totam fuga voluptatibus sint nam unde consequuntur? Explicabo nam dolore, recusandae, dolorem nesciunt sapiente labore mollitia nulla neque perferendis odit.
    </p>

    
</div>

{% endblock main %}